

body {
	background-color: black;
}

.ui-content {
	margin-top: 30px;
}

h2 {
	font-family: "Cabin Sketch";
	font-size: 30px;
	color: darkslateblue;
}


.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
#chat .ui-icon { background:  url(/img/glyphish-icons/icons/09-chat-2.png) 50% 50% no-repeat; background-size: 24px 22px; }
#beer .ui-icon { background:  url(/img/glyphish-icons/icons/88-beer-mug.png) 50% 50% no-repeat;  background-size: 22px 27px; }
#map .ui-icon { background:  url(/img/glyphish-icons/icons/103-map.png) 50% 50% no-repeat;  background-size: 22px 24px; }
