<!DOCTYPE html> 
<html> 
<head> 
	<title>Page Title</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css" /> 
	<link href='http://fonts.googleapis.com/css?family=Miltonian' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'>
</head> 
<body>

<div  data-role="page"> 
  <div id="container">
    <div data-role="header">
    	<h1>Toppl</h1>
    </div>
    <div id="main" data-role="content">
		<%- body %>
    </div>
    
    <div data-role="footer" data-id="toppl_footer" data-position="fixed"> 
		<div data-role="navbar" class="nav-glyphish" data-grid="b"> 
			<ul> 
				<li><a href="#" id="chat" data-icon="custom" data-theme="c">Chat</a></li> 
				<li><a href="#" id="map" data-icon="custom" data-theme="c">Map</a></li> 
				<li><a href="#" id="beer" data-icon="custom" data-theme="c">Toppl</a></li> 
			</ul> 
		</div><!-- /navbar --> 
	</div>
  </div> <!--! end of #container -->
</div>

<script src="/nowjs/now.js"></script>
</body>
</html>
