<!DOCTYPE html> 
<html> 
<head> 
	<title>Page Title</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css" /> 
	<link href='http://fonts.googleapis.com/css?family=Miltonian' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'>
</head> 
<body>

<div data-role="page" data-fullscreen="true"> 

	
	<div data-role="header" data-position="fixed"> 
		<h1>Toppl</h1> 
		<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a> 
	</div> 
	
	<div data-role="content"> 
		<%- body %>
	</div> 
	
	<style type="text/css">	
		.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
		#chat .ui-icon { background:  url(glyphish-icons/09-chat2.png) 50% 50% no-repeat; background-size: 24px 22px; }
		#email .ui-icon { background:  url(glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 16px;  }
		#login .ui-icon { background:  url(glyphish-icons/30-key.png) 50% 50% no-repeat;  background-size: 12px 26px; }
		#beer .ui-icon { background:  url(glyphish-icons/88-beermug.png) 50% 50% no-repeat;  background-size: 22px 27px; }
		#coffee .ui-icon { background:  url(glyphish-icons/100-coffee.png) 50% 50% no-repeat;  background-size: 20px 24px; }
		#skull .ui-icon { background:  url(glyphish-icons/21-skull.png) 50% 50% no-repeat;  background-size: 22px 24px; }
	</style>
	
	
    <div data-role="footer" data-id="toppl_footer" data-position="fixed"> 
		<div data-role="navbar"> 
			<ul> 
				<li><a href="#" class="ui-btn-active ui-state-persist">Chat</a></li> 
				<li><a href="#">Map</a></li> 
				<li><a href="#">Toppl</a></li> 
			</ul> 
		</div><!-- /navbar --> 
	</div>

</div>

<script src="/nowjs/now.js"></script>
</body>
</html>
